/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for UIUC Biocluster (module-based)
 * -------------------------------------------------
 */

// TODO: update per https://www.nextflow.io/docs/latest/config.html?highlight=process%20selector#scope-process

process {

  // Global process config
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$multiqc.module = []
  // Environment modules and resource requirements

  $makeBismarkIndex.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $makeBwaMemIndex.module = ["bwa-meth/0.2.2"]
  $makeFastaIndex.module = ["SAMtools/1.7-IGB-gcc-4.9.4"]
  $fastqc.module = ["FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152"]
  $trim_galore.module = ["Trim_Galore/0.4.4-IGB-gcc-4.9.4"]
  $bismark_align.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $bismark_deduplicate.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $bismark_methXtract.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $bismark_report.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $bismark_summary.module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  $bwamem_align.module = ["bwa-meth/0.2.2"]
  $samtools_sort_index_flagstat.module = ["SAMtools/1.7-IGB-gcc-4.9.4"]
  $markDuplicates.module = ["picard/2.10.1-Java-1.8.0_152"]
  $methyldackel.module = ["MethylDackel/0.3.0"]
  $qualimap.module = ["qualimap/2.2.1-Java-1.8.0_121","SAMtools/1.7-IGB-gcc-4.9.4"]
  $multiqc.module = ["MultiQC/1.2-IGB-gcc-4.9.4-Python-2.7.13"]

  // NuSeq
  // TODO: these are mostly single-core jobs, so they need very little resources
  $nugen_divtrimming.module = ["NuGen/github","SAMtools/1.7-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
  $nugen_deduplicate.module = ["NuGen/github","SAMtools/1.7-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
  $nugen_append.module = ["NuGen/github"]
  $nugen_samtools_sort.module = ["SAMtools/1.7-IGB-gcc-4.9.4"]

  // $get_software_versions.module = [""]
}

params {
  saveReference = true
  // Max resources requested by a normal node. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  max_memory = "128GB"
  max_cpus = 24
}
