/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for UIUC Biocluster (module-based)
 * -------------------------------------------------
 */

process {

  // Global process config
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$multiqc.module = []
  // Environment modules and resource requirements

  withName:makeBismarkIndex {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
    cpus = { check_max( 8 * task.attempt, 'cpus') }
    memory = { check_max( 64.GB * task.attempt, 'memory') }
    time = { check_max( 36.h * task.attempt, 'time') }
  }
  withName:makeBwaMemIndex {
    module = ["bwa-meth/0.2.2"]
  }
  withName:makeFastaIndex {
    module = ["SAMtools/1.7-IGB-gcc-4.9.4"]
  }
  withName:fastqc {
    module = ["FastQC/0.11.8-IGB-gcc-4.9.4-Java-1.8.0_152"]
  }
  withName:trim_galore {
    module = ["Trim_Galore/0.4.4-IGB-gcc-4.9.4"]
  }
  withName:bismark_align {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  }
  withName:bismark_deduplicate {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  }
  withName:bismark_methXtract {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  }
  withName:bismark_report {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  }
  withName:bismark_summary {
    module = ["Bismark/0.18.1-IGB-gcc-4.9.4-Perl-5.24.1"]
  }
  withName:bwamem_align {
    module = ["bwa-meth/0.2.2"]
  }
  withName:samtools_sort_index_flagstat {
    module = ["SAMtools/1.7-IGB-gcc-4.9.4"]
  }
  withName:markDuplicates {
    module = ["picard/2.10.1-Java-1.8.0_152"]
  }
  withName:methyldackel {
    module = ["MethylDackel/0.3.0"]
  }
  withName:qualimap {
    module = ["qualimap/2.2.1-Java-1.8.0_121","SAMtools/1.7-IGB-gcc-4.9.4"]
  }
  withName:multiqc {
    module = ["MultiQC/1.2-IGB-gcc-4.9.4-Python-2.7.13"]
  }

  // NuSeq
  // TODO: these are mostly single-core jobs, so they need very little resources
  withName:nugen_append {
    module = ["NuGen/github"]
    cpus = 1
    memory = 12.GB
    time = 1.d
  }
  withName:nugen_divtrimming {
    module = ["NuGen/github","SAMtools/1.7-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
    cpus = 4
    memory = 36.GB
    time = 1.d
  }
  withName:nugen_deduplicate {
    module = ["NuGen/github","SAMtools/1.7-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
    cpus = 4
    memory = 36.GB
    time = 1.d
  }
  withName:nugen_samtools_sort {
    module = ["SAMtools/1.7-IGB-gcc-4.9.4"]
    cpus = 12
    memory = 48.GB
    time = 1.d
  }

  // $get_software_versions.module = [""]
}

params {
  multiqc_config = "$baseDir/conf/uiuc-multiqc_config.yaml"
  saveReference = true
  // Max resources requested by a normal node. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  max_memory = "128GB"
  max_cpus = 24
}
